[Unit]
Description=Errands service
After=network.target

[Service]
User=vagrant
Environment=sails_environment="errands_development"
WorkingDirectory=/vagrant
ExecStart=/usr/local/bin/node eb/apps/errands/app.js
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
