<ng-progress id="progressIndicator" [color]="'#26c49d'"></ng-progress>
<ng-sidebar-container [animate]="false" style="height: 100vh; display: block;">
  <ng-sidebar
    [(opened)]="_opened"
    [mode]="'push'"
    [dock]="true"
    [dockedSize]="'50px'"
    [animate]="false">
    <sd-navbar (notify)='_toggleSidebar()'></sd-navbar>
  </ng-sidebar>

  <div class="page-content" ng-sidebar-content>
    <sd-toolbar></sd-toolbar>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>

<div class="clearfix"></div>

<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>
<footer class="site-footer">
  <div class="container-fluid clearfix">
    <div style="float: left; text-align: center;" class="left">
      <span style="font-size: 10px;">©Copyright 2026 to Present. {{brandName}} Energy Corporation. All Rights Reserved. {{brandName}}, {{brandName}}480, {{brandName}}600, {{brandName}}RS, uBillTRACKER and uBill4CAST are Trademarks of {{brandName}} Energy Corporation. All other trademarks are the property of their respective owners. Site Version 2.2.5</span>
    </div>

  </div>
</footer>

<style>
.site-footer {
  background: white;
  height: 35px;
  left: 250px;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
}
.site-footer .container-fluid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer .left {
  float: none !important;
  flex: 1;
}
.powered-by {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  padding-right: 12px;
}
.powered-by span {
  font-size: 10px;
  color: #9ca3af;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.powered-by img {
  height: 16px;
  width: auto;
  opacity: 0.55;
  filter: grayscale(20%);
}
</style>
