:host {
  display: block;
  height: 48px;
  border-bottom:2px solid #f2f2f2;
}

div {
  height: 100%;
}

img {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
  height: 32px;
  width: auto;
  max-height: 32px;
  max-width: 180px;
  filter: grayscale(100%);
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

h2 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.circled {
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: #bdbdbd;
  background-color: #bdbdbd;
  padding-left:7px;
  padding-right:7px;
  padding-top:10px;
  padding-bottom:10px;
}
