[Unit]
Description=Mqtt to Http Bridge service
After=network.target

[Service]
User=vagrant
Environment=
WorkingDirectory=/vagrant
ExecStart=/usr/local/bin/node eb/apps/mqtt-to-http/app.js
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
