$primaryColor: #26c49d;
$primaryColor2: #68ccb3;
$primaryColor3: #5bb6a2;
$primaryColor4: #9ca5d7;
$primaryColor5: #ed6b75;
$primaryColor6: #e0e0e0;
$primaryColor7: #9e9e9e;
$primaryColor8: #757575;
$primaryColor9: #424242;
$primaryColor10: #212121;

$whiteFont: #fff;
$lightBackground: #fafafa;


$fontSize: 15px;
