[Unit]
Description=Device Processor service
After=network.target

[Service]
User=vagrant
Environment=sails_environment="devices_development"
WorkingDirectory=/vagrant
ExecStart=/usr/local/bin/node eb/apps/device-processor/app.js
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
