 <sd-subnav style="font-size: 20px;" [links]="[]"></sd-subnav><router-outlet></router-outlet>
  <div *ngIf="!selectedTest" style="font-size: 20px; ">
  Please select a test to display energy savings page.
  </div>

  <div [hidden]="!selectedTest" class="container-fluid">
    <div *ngIf="!loaded ">&nbsp;&nbsp;Loading... </div>
    <div *ngIf="emvRequired" style="background:#fff3cd; border:1px solid #ffc107; border-radius:6px; padding:1em 1.5em; margin:0.75em 0; color:#856404;">
      <strong style="font-size:1.1em;">&#9888; EM&amp;V Analysis Required</strong>
      <p style="margin:0.4em 0 0;">Energy savings tracking is not active yet. An EM&amp;V report must be completed and posted from the EM&amp;V Program before real-time savings can be displayed. Pre-installation Bill Analytic estimates are intentionally excluded from this dashboard.</p>
    </div>
    <div [hidden]="!loaded || emvRequired" class="row content-box"> 
      <div class="col-md-8"> 
        <button *ngIf="userService.user.role === 8" type="button" class="default-button green-button" (click)="calculateProjectSavings()">Calculate Project Savings</button>
        <button *ngIf="userService.user.role === 8" type="button" class="default-button green-button" (click)="calculateSavings()">Calculate Meter Savings</button>
        <button *ngIf="userService.user.role === 8" type="button" class="default-button green-button" (click)="runRollup()">Run rollup</button>
        <button *ngIf="userService.user.role === 8" type="button" class="default-button green-button" (click)="runGenerateReport()">Generate Report</button>
        <div class="col-md-7">
          <p style="font-size: 12px; font-weight: bold;">Energy Usage Chart Is For Current Day (15Min Intervals)</p> 
        </div>
        <div class="col-md-5">
          <legend style="font-size: 10px" [values]="[{text:'After Synerex', color: '#26c49d'},{text:'Before Synerex', color: '#9ca5d7'}]"></legend>
        </div>
        <div class="col-md-12">
            <line-chart #savingsChart style="height:250px;" [beginAtZero]="false"></line-chart>
        </div>
      </div> 
      <div *ngIf="breakdown" class="col-md-4">
        <h5 style="text-align: center; background-color:black; font-size: 12px; color: white"><strong>Bill Savings Accumulator</strong></h5>
        
        <div class="col-md-9">
          <table style="width:100%">
            <tr>
              <td style="width: 38%; text-align:left; font-size: 10px"><strong>Avg 15-Min Int/Hour</strong></td>
              <td style="width: 25%"></td>
              <td style="width: 32%"></td>
            </tr>
            <tr class="text-center">
              <td style="text-align:right; font-size:11px"><strong>(Before)&nbsp;&nbsp;</strong></td>
              <td style="text-align:left; font-size:11px"><strong>{{breakdown.beforeKva}}</strong></td>
              <td></td>
            </tr>
            <tr class="text-center" style="border-bottom:1px solid gray">
              <td style="text-align:right; font-size:11px"><strong>(Synerex)&nbsp;&nbsp;</strong></td>
              <td style="text-align:left; font-size:11px"><strong>{{breakdown.todayAvgKw}}</strong></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="inline col-md-3" *ngIf="breakdown && equipmentSavings">
          <div class="hours" style="font-size: 9px; width: 100%">Recorded Hours Today</div>
          <div class="hours" style="text-align: center; border: 1px solid black; background-color:lightgray; color:black; width:100%"><strong style="font-size: 13px">{{breakdown.hours}}hrs {{breakdown.minutes}}min</strong></div>
        </div>
        <div class="inline col-md-12">
          <table *ngIf="breakdown" style="width:100%">
            <tr class="text-center">
              <td style="width: 30%;text-align:left; font-size:10px"><strong>KW Peak</strong></td>
              <td style="width: 20%"></td>
              <td style="width: 25%"></td>
              <td style="width: 25%"></td>
            </tr>
            <tr class="text-center">
              <td style="text-align:right; font-size:11px"><strong>(Before)&nbsp;&nbsp;</strong> </td>
              <td style="text-align:left; font-size:11px"><strong>{{breakdown.beforeKwp}}</strong></td>
              <td></td>
              <td style="font-size: 10px">Current Month</td>
            </tr>
            <tr class="text-center">
              <td style="text-align:right; font-size:11px"><strong>(Synerex)&nbsp;&nbsp;</strong></td>
              <td style="text-align:left; font-size:11px"><strong>{{breakdown.monthPeakKw}}</strong></td>
              <td></td>
              <td style="font-size: 10px">KW Peak Savings</td>
            </tr>
            <tr class="text-center" style="border:1px solid black; background-color:lightgray" >
              <td style="text-align:right; font-size:11px"><strong>Diff.&nbsp;&nbsp;</strong></td>
              <td style="text-align:left; font-size:11px"><strong>{{breakdown.kwpDiff}}</strong></td>
              <td style="font-size: 11px; text-align: center;"><strong>Rate {{breakdown.billingRate}}</strong></td>
              <td style="font-size: 14px; background-color:black; color:white"><strong>{{breakdown.todayPeakKwSaving || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></td>
            </tr>
            <tr class="text-center">
              <td style="text-align:left; font-size: 10px"><strong>KWH Usage</strong></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="text-center">
              <td style="text-align:right; font-size:11px"><strong>(Before)&nbsp;&nbsp;</strong></td>
              <td style="text-align:left; font-size:11px"><strong>{{breakdown.beforeKwh + equipmentSavings.dailyBeforeKwh| number : '1.2-2'}}</strong></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="text-center">
              <td style="text-align:right; font-size: 11px"><strong>(Synerex)&nbsp;&nbsp;</strong></td>
              <td style="text-align:left; font-size: 11px"><strong>{{breakdown.todayKwh + equipmentSavings.dailyAfterKwh| number : '1.2-2'}}</strong></td>
              <td></td>
              <td style="font-size: 10px">Daily kWh Savings</td>
            </tr>
            <tr class="text-center" style="border:1px solid black; background-color:lightgray">
              <td style="text-align:right;font-size: 11px"><strong>Diff.&nbsp;&nbsp;</strong></td>
              <td style="text-align:left;font-size: 11px"><strong>{{breakdown.kwhDiff + equipmentSavings.dailyKwhSaving| number : '1.2-2'}}</strong></td>
              <td style="text-align:center;font-size: 11px"><strong>Avg Rate {{breakdown.avgRate}}</strong></td>
              <td style="font-size: 14px; background-color:black; color:white"><strong>{{breakdown.todayKwhSaving + equipmentSavings.dailySaving || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></td>
            </tr>
          </table>
      
            <div class="pull-left" style="vertical-align: middle" [hidden]="true">
              <input name="equipmentSavings" type="checkbox" (change)="addEquipmentSavings()" [checked]="addEquipment" id="equipmentSavings">
              <label for="equipmentSavings" style="font-size: 11px; vertical-align: middle; padding-left: 10px; padding-bottom: 5px">Add Equipment Scheduler Savings</label>
            </div>
            <div class="pull-right" style="vertical-align: middle" [hidden]="true">
              <input name="I2RLossSavings" type="checkbox" (change)="addI2RLossSavings()" [checked]="addI2RLoss" id="I2RLossSavings">
              <label for="I2RLossSavings" style="font-size: 11px; vertical-align: middle; padding-left: 10px; padding-bottom: 5px">Add I<sup>2</sup>R Loss Savings</label>
            </div>
            <br>
          <!-- NOTE: "Real Time Bill Cost Savings" visibility conditions:
               - breakdown: must exist (from getEnergySavingsBreakdown API call)
               - project.slackChannel must be greater than 1 (enables this feature)
               - equipmentSavings is optional (will use 0 if not loaded)
               If not showing, check:
               1. Does breakdown exist? (from getEnergySavingsBreakdown API call)
               2. Is project.slackChannel > 1? (required to enable this section)
          -->
          <table style="width:100%" *ngIf="breakdown && userService.user?.selectedProject?.slackChannel > 1">
            <tr class="text-center">
              <td style="width: 100%;text-align:center; font-size: 12px;">Real Time Bill Cost Savings</td>
            </tr>
          </table>
          <table style="background-color: #b1e3d8; width:100%" *ngIf="breakdown && userService.user?.selectedProject?.slackChannel > 1">
            <tr class="text-center">
              <td style="width: 25%;text-align:center; font-size: 10px;">Current Week (kWh)</td>
              <td style="width: 25%;text-align:center; font-size: 10px;"><p *ngIf="!hasPfc">This Month</p><p *ngIf="hasPfc">This Month (kWP/kWh/PF)</p></td>
              <td style="width: 25%;text-align:center; font-size: 10px;">This Year</td>
              <td style="width: 25%;text-align:center; font-size: 10px;">All Time</td>
            </tr>
            <tr class="text-center">
              <td style="text-align:center; font-size: 12px;"><strong>{{breakdown.totalWeekSaving + (equipmentSavings?.weeklySaving || 0) | projectCurrency:"symbol":'1.2-2'}}</strong></td>
              <td style="text-align:center; font-size: 12px;"><strong>{{breakdown.totalMonthSaving + (equipmentSavings?.monthlySaving || 0) | projectCurrency:"symbol":'1.2-2'}}</strong></td>
              <td style="text-align:center; font-size: 12px;"><strong>{{breakdown.totalYearSaving + (equipmentSavings?.yearlySaving || 0) | projectCurrency:"symbol":'1.2-2'}}</strong></td>
              <td style="text-align:center; font-size: 12px;"><strong>{{breakdown.totalAllTimeSaving + (equipmentSavings?.allTimeSaving || 0) | projectCurrency:"symbol":'1.2-2'}}</strong></td>
            </tr>
          </table>
          <table style="background-color: #b1e3d8; width:100%" *ngIf="breakdown && userService.user?.selectedProject?.slackChannel > 1">
            <tr class="text-center">
              <td style="width: 25%;text-align:center; font-size: 10px;"></td>
              <td style="width: 25%;text-align:center; font-size: 10px;">Last Month</td>
              <td style="width: 25%;text-align:center; font-size: 10px;">Last Year</td>
              <td style="width: 25%;text-align:center; font-size: 10px;"></td>
            </tr>
            <tr class="text-center">
              <td style="text-align:center; font-size: 12px;"></td>
              <td style="text-align:center; font-size: 12px;"><strong>{{breakdown.totalLastMonthSaving || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></td>
              <td style="text-align:center; font-size: 12px;"><strong>{{breakdown.totalLastYearSaving || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></td>
              <td style="text-align:center; font-size: 12px;"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row content-box">
      <div class="box col-md-4" *ngIf="breakdown" style="background-color: #bbe3da">
        <h4 style="color:white; background-color:#293f54; font-size: 13px; border-bottom:1px; font-weight: bold;">Utility Supplier</h4>
        <div class="col-md-6">
          <p style="text-align:left; font-size: 11px; color: #459658"><strong>Electricity Supplier</strong></p>
          <p style="text-align:left; font-size: 16px; color: black"><strong>{{breakdown.electricSupplier}}</strong></p>
          <p style="text-align:left; font-size: 11px; color: #459658"><strong>Recorded KW Supplied to Facility</strong></p>
          <p style="text-align:left; font-size: 16px; color: black"><strong>{{breakdown.kwSupplied}} kW Peak</strong></p>
          <p style="text-align:left; font-size: 11px; color: black">Time: {{breakdown.monthPeakTime}}</p>
          
        </div>
        <div class="col-md-6">
          <p style="text-align:left; font-size: 11px; color: #459658"><strong>Tariff</strong></p>
          <p style="text-align:left; font-size: 12px; color: black">{{breakdown.tariff}}</p>
          <p style="text-align:left; font-size: 11px; color: #459658"><strong>KW supply Reduction</strong></p>
          <p style="text-align:left; font-size: 16px; color: black"><strong>{{breakdown.kwSupplyReduction}}%</strong></p>
          
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <p><strong style="font-size: 14px; text-align: right; color: black">Current kWh Usage for Month: </strong></p>
            <p><strong style="font-size: 14px; text-align: left; color: black">{{breakdown.currentMonthKwh | number : '1.2-2'}}</strong></p>
          </div>
          <div class="col-md-6">
            <p style="text-align:left; font-size: 11px; color: #459658"><strong>KWH Supply Reduction</strong></p>
            <p style="text-align:left; font-size: 16px; color: black"><strong>{{breakdown.kwhSupplyReduction}}%</strong></p>
          </div>
        </div>
      </div>
      <div *ngIf="meterDetail" class="box col-md-4">
        <h4 style="color:white; background-color:#293f54; font-size: 13px; border-bottom:1px solid gray; font-weight: bold;">Facility Result - Gain Statistics</h4>
        <table class="table">
          <tr>
            <td style="width: 40%;text-align:left"></td>
            <td style="width: 20%; font-size: 11px; color: #1ebf9d;"><strong>Phase 1</strong></td>
            <td style="width: 20%; font-size: 11px; color: #1ebf9d;"><strong>Phase 2</strong></td>
            <td style="width: 20%; font-size: 11px; color: #1ebf9d;"><strong>Phase 3</strong></td>
          </tr>
          <tr class="text-center">
            <td style="text-align:left; font-size: 11px">Current Voltage: </td>
            <td style="text-align:center; font-size: 11px"><strong>{{meterDetail.p1Volt}}</strong></td>
            <td style="text-align:center; font-size: 11px"><strong>{{meterDetail.p2Volt}}</strong></td>
            <td style="text-align:center; font-size: 11px"><strong>{{meterDetail.p3Volt}}</strong></td>
          </tr>
          <tr class="text-center">
            <td style="text-align:left; font-size: 11px">KVAR Reduction: </td>
            <td style="text-align:center; font-size: 11px"><strong>{{meterDetail.p1Kvar}}</strong></td>
            <td style="text-align:center; font-size: 11px"><strong>{{meterDetail.p2Kvar}}</strong></td>
            <td style="text-align:center; font-size: 11px"><strong>{{meterDetail.p3Kvar}}</strong></td>
          </tr>
        </table>
      
        <table *ngIf="breakdown" style="width: 100%" align="center">
          <tr class="text-center">
            <td style="width: 70%;text-align:left; font-size: 11px">KVA Transformer Gain in Capacity:</td>
            <td style="width: 30%; text-align:right; font-size: 11px"><strong>{{breakdown.todayCapacityValue}} KVA</strong></td>
          </tr>
          <tr class="text-center">
            <td style="text-align:left; font-size: 11px">BTU Reduction Equivalency:</td>
            <td style="text-align:right; font-size: 11px"><strong>{{breakdown.todayBtu | number : '1.0-0'}} BTU</strong></td>
          </tr>
          <tr class="text-center">
            <td style="text-align:left; font-size: 11px">Therms/Hour (thm) Reduction Equivalency:</td>
            <td style="text-align:right; font-size: 11px"><strong>{{breakdown.todayThermsReduction}} thm</strong></td>
          </tr>
          <tr class="text-center">
            <td style="text-align:left; font-size: 11px">Horsepower (hp) Reduction Equivalency:</td>
            <td style="text-align:right; font-size: 11px"><strong>{{breakdown.todayHorsepowerReduction}} hp</strong></td>
          </tr>
        </table>
        
      </div>


      <div class="box col-md-4">
        <h4 style="color:white; background-color:#293f54; font-size: 12px; font-weight: bold;">Power 5 Statistics (Full Facility)</h4>
        <div class="col-md-6">
          <snapshot-gauge #ampGauge [unit]="''" [title]="'Total Facility Load'" [subtitle]="'Current Amperage Draw'" [color]="'#9ca5d7'"></snapshot-gauge> 
          <div style="text-align:center; font-size: 10px" *ngIf="meterDetail">Before Amp Load: {{meterDetail.beforeAmp}}</div>
        </div>
        <div class="col-md-6">
          <div class="help-tip">
            <p>The Efficiency level 'Load Factor' is a ratio of the highest measured 15-Minute Interval for the calendar month [kW Peak] to the current month [Avg 15-Minute Interval] in terms of Billing for kW Peak vs kWh (kVA x Billing hours)</p>
          </div>
          <snapshot-gauge #pfGauge [unit]="'%'" [title]="'Electrical Network Efficiency Level'" [subtitle]="'Load Factor'" [color]="'#26c49d'"></snapshot-gauge>
          <div *ngIf="breakdown" style="text-align:center; font-size: 10px; ">Before DS Load Factor: {{breakdown.beforePf}}%</div>
          <p *ngIf="breakdown && breakdown.hasAltEnergy" style="text-align:center; font-size: 12px; font-weight: bold;">Alternative Energy Ratio: {{breakdown.altEnergy}}%</p>
        </div>
      </div>
    </div>

    <div class="row content-box" *ngIf="breakdown && userService.user?.selectedProject?.slackChannel > 1" >
      <div class="box col-md-4" style="background-color: #293f54; color: white">
        <div class="row"><img class="logo" src="/tracking-images/ubill-tracker-logo.png" alt="" style="width:138px; height:34px;"/></div>
        <div class="col-md-7">
          <p style="font-size: 16px; text-align: left; color: white; font-weight: bold;">Current Bill Cost: </p>
          <p style="font-size: 12px; text-align: left; color: #f7a90d; padding-left: 25px;">Estimated Without Synerex Utility Bill: </p>
          <p style="font-size: 12px; text-align: left; color: white; padding-left: 25px;">Avg Daily kWh Cost This Month: </p>
          <!--p style="font-size: 12px; text-align: left; color: white; padding-left: 25px;">Avg Daily kWh Cost Last Month:</pi-->
          <p style="font-size: 16px; text-align: left; color: white; font-weight: bold;">Days Recorded: </p>
        </div>
        <div class ="col-md-5">
          <p style="font-size: 16px; text-align: right; color: white"><strong>{{breakdown.currentBillCost || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></p>
          <p style="font-size: 12px; text-align: right; color: #f7a90d"><strong>{{breakdown.estimatedBeforeUtilityBill || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></p>
          <p style="font-size: 12px; text-align: right; color: white"><strong>{{breakdown.currentMonthAvgDailyKwhCost || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></p>
          <!--p style="font-size: 12px; text-align: right; color: white"><strong>{{breakdown.lastMonthAvgDailyKwhCost || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></p-->
          <p style="font-size: 16px; text-align: right; color: white"><strong>{{breakdown.daysOfMonthRecorded}}</strong></p>
        </div>
        
        <div class="row" ><img class="logo" src="/tracking-images/ubill-cast-logo.png" alt="" style="width:138px; height:34px;"/></div>
        
        <div class="col-md-6">
          <p style="font-size: 14px; color: white; font-weight: bold;">Estimated Month-End Usage</p>
          <p style="font-size: 12px; text-align: center; color: white">{{breakdown.estimatedMonthKwh | number : '1.0-0'}} kWh</p>
          <p style="font-size: 12px; text-align: center; color: white">{{breakdown.estimatedMonthKwPeak | number : '1.0-0'}} kW Peak</p>
        </div>
        <div class="col-md-6">
          <p style= "font-size: 14px; text-align: center; color: white; font-weight: bold;">Estimated Utility Bill</p>
          <p style= "font-size: 14px; text-align: center; color: white"><strong>{{breakdown.estimatedUtilityBill || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></p>
          <p style= "font-size: 14px; text-align: center; color: white">&nbsp;</p>
          <p style= "font-size: 14px; text-align: center; color: white"><strong>&nbsp;</strong></p>
          <!--p style= "font-size: 14px; text-align: center; color: white">Last Month Budget</p>
          <p style= "font-size: 14px; text-align: center; color: white"><strong>{{breakdown.lastMonthBudget || 0 | projectCurrency:"symbol":'1.2-2'}}</strong></p-->
        </div>
        
      </div>
      <div class="box col-md-6">
        <h5>Facilities Serviced</h5>
        <hr>
        <div class="col-md-4">
          <div class="ex1">
            <ul>
              <li *ngFor="let proj of projects" (click)="goToProject(proj.id)"><strong>
                {{proj.name}}
              </strong></li>
            </ul>
          </div>
        </div>

        <div class="col-md-8">
          <img class="map" src="/tracking-images/worldmap.png" alt="" style="width:500px; height:220px"/>
        </div>
      </div>
      <div class="box col-md-2">
        <h5>Meters</h5>
        <hr>
        <input name="checkAll" type="checkbox" (change)="select()" [checked]="allSelected" id="checkAll">
         <label for="checkAll" style="color: darkgreen">Select All</label>
        <div class="meterlist">
          <div *ngFor="let meter of meters; let i = index" [attr.data-index]="i">
            <label class="form-check-label" for="meter{{meter.id}}">
              <input
                class="form-check-input"
                type="checkbox"
                id="meter{{meter.id}}"
                name="tagOptions"
                (change)="changeCheckbox(i)"
                [checked]="meter.checked">
              {{meter.name}}
            </label>
          </div>
        </div>
        <font [hidden]="!selectMeterError" style="color: darkred">Please select 1 or all meters to view saving.</font>
	     <br>
        <button type="button" class="default-button green-button" style="margin-right: 10px" (click)="refreshData()">Show Savings</button>
        <button type="button" class="default-button green-button" (click)="goToViewBudget()">Get Budget</button>
    </div>
  </div>
</div>



<style>

  h3 {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  h4 {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  h5 {
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  hr {
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  p {
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hours {
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  legend {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  div .inline {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img.map{
    margin-left: auto;
    margin-right: auto ;
  } 
  .row {
    display: flex;
    padding-left: 5px;
    padding-top: 5px; /* equal height of the children */
  }

  .col {
    flex: 1; /* additionally, equal width */
    padding: 1em;
  }

  div .ex1 {
    background-color: lightgray;
    width: 100%;
    height: 200px;
    overflow: scroll;
    margin-top: auto;
    margin-bottom: auto ;
  }

  div .meterlist {
    width: 100%;
    overflow: scroll;
    height: 170px;
  }

  div{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  div .box{
    padding-top: 2px;
    padding-bottom: 2px;
  }

  li:hover {
    color: black;
    background: #b1e3d8;
    cursor: pointer;
  }

  img.logo {
    display: block;
    margin: 0 auto;
  }

  table {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  }
  
  .help-tip {
    position: absolute;
    top: 24px;
    right: 24px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    cursor: default;
  }

  .help-tip:before{
      content:'?';
      margin-left: -3px;
      padding-top: -5px;
      font-weight: bold;
      color:#000;
  }

  .help-tip:hover p{
      display:block;
      transform-origin: 100% 0%;

      -webkit-animation: fadeIn 0.3s ease-in-out;
      animation: fadeIn 0.3s ease-in-out;

  }

  .help-tip p{    /* The tooltip */
      display: none;
      text-align: left;
      background-color: #1E2021;
      padding: 20px;
      width: 300px;
      position: absolute;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      right: -4px;
      color: #FFF;
      font-size: 13px;
      line-height: 1.4;
  }

  .help-tip p:before{ /* The pointer of the tooltip */
      position: absolute;
      content: '';
      width:0;
      height: 0;
      border:6px solid transparent;
      border-bottom-color:#1E2021;
      right:10px;
      top:-12px;
  }

  .help-tip p:after{ /* Prevents the tooltip from being hidden */
      width:100%;
      height:40px;
      content:'';
      position: absolute;
      top:-40px;
      left:0;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
  }

  .overlay-content {
    position: relative;
    top: 3%;
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  .overlay-footer {
    position: relative;
    padding-top: 20px;
    width: 100%;
    text-align: right;
  }

  .overlay-footer img{
    width: 200px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
  }

  .overlay-content .pf {
    background: url("/tracking-images/Energy_Efficiency_Pic.jpg");
    background-repeat: no-repeat;
  }


  /* CSS animation */

  @-webkit-keyframes fadeIn {
      0% { 
          opacity:0; 
          transform: scale(0.6);
      }

      100% {
          opacity:100%;
          transform: scale(1);
      }
  }

  @keyframes fadeIn {
      0% { opacity:0; }
      100% { opacity:100%; }
  }
</style>
