[Unit]
Description=SwitchSchedule service
After=network.target

[Service]
User=vagrant
Environment="schedule_development"
WorkingDirectory=/vagrant
ExecStart=/usr/local/bin/node eb/apps/schedule/app.js
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
