<style>
  table tbody tr td {
    border-top: 1px solid #0000001f;
  }
  table thead tr th {
    border-bottom: 2px solid #0000001f;
  }
  table tr {
    background-color: transparent;
  }
  table tr.last {
    font-weight: bold;
  }
  table tr th {
    text-align: left;
  }
  table tbody>tr:hover {
    background-color: #0000000e;
  }
  table tbody tr.selected {
    background-color: #1975d838;
    box-shadow: 0 0 4px #1975d8 inset;
  }
  table tbody tr.selected > td {
    border-top: 1px solid white;
  }
  table td {
    vertical-align: top;
  }
  table table {
    margin-left: 2em;
    width: calc(100% - 2em);
    zoom: 0.8;
    background-color: transparent;
  }
  table table tbody th, table table tbody td {
    border-top: 1px solid #00000029
  }
  .labels > span {
    border: 1px solid #d6d6d6;
    border-radius: 0.2em;
    background-color: #e8e8e8;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    margin: 0 0.4em 0.4em 0;
    padding: 0.3em 0.8em;
    white-space: nowrap;
    color: #272727;
  }
  .labels > span > span {
    opacity: 0.5;
    font-size: 0.6em;
    vertical-align: top;
    padding-left: 0.6em;
  }
  .selected .labels span {
    border: 1px solid #2d568230;
    background-color: #ffffff52;
    color: #1975d8;
  }
  p.info {
    font-style: italic;
    padding: 1em;
    color: #666;
  }
  h4 {
    font-size: 1.2em;
    padding: 1.2em 0em;
    color: #0000007d;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
  }
  h4 + table > thead {
    color: #0000008c;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  h4, h4 + table > thead {
    background-color: #e4e4e4;
  }
  .please-wait {
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    font-size: 2em;
  }
  .titled {
    padding-left: 10em;
    position: relative;
  }
  .titled .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 9.2em;
    text-align: right;
    color: #00000075;
    font-size: 0.9em;
    padding-top: 0.1em;
    font-weight: bold;
  }
  .centered {
    text-align: center;
  }
  .titled, .centered {
    margin: 0.4em 6em 1.8em;
    width: 30em;
  }
  .note {
    border: 1px solid #00000030;
    border-radius: 0.3em;
    font-size: 0.9em;
    width: 35em;
    padding: 0.7em 1.5em;
    text-align: left;
    background-color: #fff2cc;
    color: #000000c2;
  }
  .labeledInput {
    display: block;
    margin-top: 0.6em;
  }
  .labeledInput span {
    display: block;
    font-weight: bold;
    color: #00000075;
    font-size: 0.8em;
  }
  .labeledInput input {
    display: block;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    border: 1px solid #00000047;
    width: 14em;
    color: #000000c7;
  }
  .labeledInput.left, .labeledInput.right {
    display: inline-block;
  }
  .labeledInput.left input {
    width: 7em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .labeledInput.right input {
    width: 7em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -0.3em;
  }
  .labeledInput ::placeholder {
    color: #00000035;
  }
  .labeledInput input.invalid {
    border-left: 5px solid #ed6b75;
  }
  .expires-at span {
    display: inline-block;
    padding: 0.3em 0.7em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0.2em;
    width: 6.4em;
    background-color: #2dc49d2e;
    color: #0b9471;
    position: relative;
  }
  .expires-at.grace-period span {
    background-color: #ff00001f;
    color: #cc2b2b;
    margin-top: 0.8em;
  }
  .expires-at.grace-period span::before {
    content: "grace period";
    position: absolute;
    background: #cc2b2b;
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;
    left: 0;
    top: -1.1em;
    width: 100%;
    text-align: center;
    border-radius: 0.3em 0.3em 0 0;
    padding: 0.1em 0em;
  }
</style>
<div *ngIf="isClientAdmin">
  <div *ngIf="!dataReady">
    Loading data...
  </div>

  <div *ngIf="dataReady">
    <div *ngIf="subscriptions.length">
      <h4>
        Active services
      </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Billing Day</th>
            <th scope="col">Billing Interval</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Projects</th>
            <th scope="col">Expires At</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subscription of subscriptions">
            <td>
              {{ billingDay(subscription) }}
            </td>
            <td>
              {{ subscription.monthly ? 'Monthly' : 'Yearly' }}
            </td>
            <td>
              ${{ subscription.amount }}
            </td>
            <td>
              {{ subscription.method == 'card' ? 'Credit Card' : 'Bank Account'
              }} {{ subscription.account }}
            </td>
            <td class="labels">
              <span *ngFor="let id of subscription.projects">
                {{ getProject(id).name }}
                <span>
                  {{ planNames[getProject(id).servicePlan.type] }}
                </span>
              </span>
            </td>
            <td class="expires-at" [class.grace-period]="expiresSoon(subscription)">
              <span>
                {{ expireDate(subscription) }}
              </span>
            </td>
            <td>
              <button pButton type="button" (click)="cancel(subscription)" icon="fa-times-circle"
                label="Cancel" class="ui-button-danger"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="pending().length">
      <h4>
        Inactive services
      </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Project</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of pending()" [class.selected]="selectedProjects.indexOf(project.id) > -1">
            <td>
              <p-checkbox name="selectedProjects" [value]="project.id"
                [(ngModel)]="selectedProjects" (onChange)="updateTotal()"></p-checkbox>
            </td>
            <td>
              <div class="labels">
                <span>{{ project.name }}</span>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Resource</th>
                    <th scope="col">Count</th>
                    <th scope="col">Unit Cost</th>
                    <th scope="col">Monthly Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <th scope="row">
                      <span class="icon ss-{{ item.icon }}"></span>
                      {{ item.title }}
                    </th>
                    <td>
                      {{ project.resources[item.type] }}
                    </td>
                    <td>
                      {{ price(item.type) }}
                    </td>
                    <td>
                      {{ price(item.type, project.id) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <strong>${{ total(project.id) }}</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <strong>Service Plan:</strong>
          &nbsp;&nbsp;&nbsp;
        <p-dropdown [options]="options()" [(ngModel)]="selectedOption" (onChange)="updateTotal()"></p-dropdown>
          &nbsp;&nbsp;&nbsp;
        <button pButton type="button" (click)="checkout()" icon="fa-shopping-cart"
          label="Proceed to checkout : ${{subscriptionTotal}}" [disabled]="!selectedProjects.length"></button>
          &nbsp;&nbsp;&nbsp;
          <a href="/files/auth.html" target="_blank"><img src="/tracking-images/auth.png"></a>  
        </div>
    </div>


    <p-blockUI [blocked]="blocked">
      <i class="please-wait">please wait...</i>
    </p-blockUI>

    <p-dialog header="Checkout" [(visible)]="paymentVisible" modal="true"
      minHeight="200">
      <div class="titled">
        <span class="title">
          Service Plan
        </span>
        {{ planNames[selectedOption] }}
        <br>
        <div class="labels">
          <span *ngFor="let id of selectedProjects">
            {{ getProject(id).name }}
          </span>
        </div>
      </div>
      <div class="titled">
        <span class="title">
          Service Cost
        </span>
        ${{ subscriptionTotal * (paymentInterval == 'monthly' ? 1 : 11) }} per
        {{ paymentInterval == 'monthly' ? 'month' : 'year' }}
      </div>
      <div class="titled">
        <span class="title">
          Payment Interval
        </span>
        <p-radioButton name="paymentInterval" label="Monthly" value="monthly"
          [(ngModel)]="paymentInterval"></p-radioButton>
          &nbsp;&nbsp;
        <p-radioButton name="paymentInterval" label="Yearly (1 Month Free)" value="annual"
          [(ngModel)]="paymentInterval"></p-radioButton>
      </div>
      <div class="titled">
        <span class="title">
          Payment Method
        </span>
        <p-radioButton name="paymentMethod" label="Credit Card" value="card"
          [(ngModel)]="paymentMethod"></p-radioButton>
          &nbsp;&nbsp;
        <p-radioButton name="paymentMethod" label="Bank Account" value="account"
          [(ngModel)]="paymentMethod"></p-radioButton>
        <div *ngIf="paymentMethod == 'card'">
          <div class="labeledInput">
            <span>Name on card</span>
            <input [(ngModel)]="name" (input)="onNameInput()" [class.invalid]="!nameValidity.isValid">
          </div>
          <div class="labeledInput">
            <span>Card number</span>
            <input [(ngModel)]="cardNumber" (input)="onCardInput('number')"
              [class.invalid]="!cardValidity.number.isValid">
          </div>
          <div class="labeledInput left">
            <span>Expiry date</span>
            <input [(ngModel)]="cardExpiry" placeholder="MM/YY" (input)="onCardInput('date')"
              [class.invalid]="!cardValidity.date.isValid">
          </div>
          <div class="labeledInput right">
            <span>Security code</span>
            <input [(ngModel)]="cardCode" (input)="onCardInput('code')"
              [class.invalid]="!cardValidity.code.isValid">
          </div>
          <div class="labeledInput">
            <span>ZIP/Postal code</span>
            <input [(ngModel)]="zip" (input)="onZipInput()" [class.invalid]="!zipValidity.isValid">
          </div>
        </div>
        <div *ngIf="paymentMethod == 'account'">
          <div class="labeledInput">
            <span>Name on account</span>
            <input [(ngModel)]="name" (input)="onNameInput()" [class.invalid]="!nameValidity.isValid">
          </div>
          <div class="labeledInput">
            <span>Routing number</span>
            <input [(ngModel)]="accountRouting" (input)="onAccountInput('routing')"
              [class.invalid]="!accountValidity.routing.isValid">
          </div>
          <div class="labeledInput">
            <span>Account number</span>
            <input [(ngModel)]="accountNumber" (input)="onAccountInput('number')"
              [class.invalid]="!accountValidity.number.isValid">
          </div>
          <div class="labeledInput">
            <span>ZIP/Postal code</span>
            <input [(ngModel)]="zip" (input)="onZipInput()" [class.invalid]="!zipValidity.isValid">
          </div>
        </div>
      </div>
      <div class="centered note">
        Your service will continue until you cancel. You may cancel your
        service anytime by going to "My Account" and clicking "Cancel
        Service".
      </div>
      <div class="centered">
        <p-checkbox [(ngModel)]="paymentAgree" (onChange)="updatePaymentValidity()"
          label="I agree to the terms, conditions, policies &amp; procedures"></p-checkbox><br />
          <a href="/files/RCCPA.pdf" target="_blank">Credit Card Authorization Form</a><br />
          (Please print, sign and return the form to <a href="mailto:paul.brown@xecoenergy.com">paul.brown@xecoenergy.com</a>)
      </div>
      <div class="centered">
        <button pButton type="button" (click)="create()" icon="fa-shopping-cart"
          [disabled]="!isPaymentValid" label="Process payment to begin service"></button>
      </div>
      <img src="/tracking-images/xeco-logo-sm.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/files/auth.html" target="_blank"><img src="/tracking-images/auth.png"></a>  
    </p-dialog>
  </div>