<div class="content-box">
  <h3>Alerts - {{currentAlertType.name}}</h3>
  <span>{{currentAlertType.description}}</span>
  <form [formGroup]="alertForm" (ngSubmit)="create(alertForm)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" *ngIf="!currentAlert">
            <label for="note">Note</label>
            <input type="text" class="form-control" id="note" name="note" formControlName="note">
          </div>
        </div>
        <div class="col-md-6">
          <label>&nbsp;</label>
          <button type="button" class="default-button form-control green-button" (click)="metersModal.show();">({{selectedCount}}) meters selected</button>
          <div *ngIf="!alertForm.controls.meters.valid" class="alert alert-danger">
            At least one meter must be selected
          </div>
          <div class="modal fade" bsModal #metersModal="bs-modal" [config]="{backdrop: 'static'}"
               tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Select Meters</h4>
                  <button type="button" class="default-button pull-right green-button" aria-label="Close" (click)="metersModal.hide();">
                    Submit
                  </button>
                </div>
                <div class="modal-body">
                  <multi-select #meterSelect [dataSource]="metersObservable" [currentArray]="currentAlert ? currentAlert.devices : []" [formArray]="alertForm.controls['meters']" (selected)="selected($event)"></multi-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="!currentAlert&& currentAlertType.id==1">
          <div class="form-group">
            <label for="threshold">Max Watts</label>
            <input type="text" class="form-control" id="threshold" name="threshold" formControlName="threshold">
            <div *ngIf="alertForm.controls.threshold.errors && (alertForm.controls.threshold.dirty || alertForm.controls.threshold.touched)" class="alert alert-danger">
              Max Watts must be a number.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div formArrayName="userArray">
            <div class="form-group">
              <label>Distribute to:</label>
              <user-select #alertUser [userFormArray]="alertForm.controls['userArray']"></user-select>
              <button type="button" class="default-button green-button form-control" style="width:auto;" (click)="alertUser.addUser()">Add Email</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="!currentAlert">
            <label for="time">Time (In minutes)</label>
            <input type="text" class="form-control" id="time" name="time" formControlName="time">
            <div *ngIf="alertForm.controls.time.errors && (alertForm.controls.time.dirty || alertForm.controls.time.touched)" class="alert alert-danger">
              A numeric time must be provided.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="default-button form-control white-button" (click)="cancelCreate()">Cancel</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="default-button form-control green-button" [disabled]="!alertForm.valid">{{currentAlert ? 'Edit' : 'Add'}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
